/* 

these are the colors used in the example
***you can use them if you'd like or you can choose your own***

black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value) 

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***

*/
body{
  margin: 0;
}

.nav-bar{
  background-color: rgb(37, 37, 37);
  margin-top: 0;
  padding: 10px;
  height: 50px;
  position: sticky;
  display: flex;
  top: 0;
  align-items: center;
  justify-content: flex-end;
}

#nav-title{
  color: rgb(42, 171, 226);
  position: relative;
  right: 51%;
}

.nav-list{
  list-style: none;
  color: white;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main-body{
  border: 1px solid black;
  width: 80%;
  position: relative;
  left: 8%;
}

.main-text{
  border: 1px solid black;
  width: 60%;
}

.profile-box{
  border: 1px solid black;
  height: 200px;
  width: 200px;
  padding-top: 15px;
  position: absolute;
  left: 80%;
  top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 45px rgba(102, 75, 75, .3);
}

#profile-image{
  height: 65%;
  width: 65%;
}

.articles-list-box{
  border: 1px solid black;
  box-shadow: 0 0 45px rgba(102, 75, 75, .3);
  width: 200px;
  height: 350px;
  line-height: 1.7;
  position: absolute;
  left: 80%;
  top: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#image-gallery-title{
  position: absolute;
  left: 8%;
  top: 90%;
}

.image-gallery{
  border: 1px solid black;
  width: 50vw;
  position: absolute;
  left: 8%;
  top: 95%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
}

.placeholder-box{
  height: 250px;
  width: 250px;
}

.bottom-bar{
  height: 50px;
  width: 100%;
  background-color: rgb(42, 171, 226);
  display: flex;
  align-content: center;
  position: absolute;
  bottom: -55%;
}

#bottom-text{
  position: relative;
  left: 2%;
}

#help-icon{

}